
body{
    background:#8180a7;;
}
*:active,
*:hover,
*:focus{
    outline: 0;
    outline-offset: 0;
}
li{
    list-style-type: none;
}

.repository__form{
    margin-left: 0;
    position: relative;
    left:40px;
    top:40px
}

.list{
    background: darkgrey;

}

.repository__search{
    width: 200px;
    transition: 300ms; 
}
.repository__search:active,
.repository__search:focus{
    width: 300px;
}

.repository__autocomplete{
    width: 307px;
    height: auto;
    font-size: 16px;
    background: linear-gradient(#ffffff 40%, #ffd2ca 240%);
    margin-top: 0;
    padding-left: 0;
}

.autocomplete__li{
    padding-left: 4px;
    overflow: hidden;
}

.autocomplete__li:hover{
    background-color:#caffe1;
}

.repository__list{
    height: auto;
    width: 300px;
    padding: 0;
    Margin-left: 4px;
    position: relative;
    top: 30px;
    left: 38px;
}

.repository__li{
    place-content: center;
    display: flex;
    flex-direction: column;
    width: 282px;
    height: auto; 
    background: #E27BEB;
    border: 2px solid #00000045;
    border-radius: 3%;
    margin: 5px;
    margin-left: -2px;
    padding: 10px;
    position: relative;
}

.repository__item{
    padding: 1px;
    margin: 1px;
    overflow: hidden;
    max-width: 170px;
}

.repository__button{
    position: absolute;
    right: 5%;
    top: 7%;
    border: none;

}

.button-close {
    background-color: #E27BEB;
    width: 32px;
    height: 32px;
    opacity: 1;

}
.button-close:hover {
    opacity: 0.5;

}

.button-close:before,
.button-close:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 33px;
    width: 2px;
    background-color: #cb5e2d;
}

.button-close:before {
    transform: rotate(45deg);
}

.button-close:after {
    transform: rotate(-45deg);
}

